/* start variables  */
:root {
    --main-color: rgb(16, 202, 183);
    --socend-color: rgb(44, 71, 85);
    --font-color: rgb(119, 119, 119);
    --main-padding: 60px 0;
    --duration: 0.3s;

}

/* end varibales  */
/* start components  */
.special-heading {
    font-size: 100px;
    font-weight: 800;
    color: RGB(235, 236, 237);
    letter-spacing: -3px;
    text-align: center;
    margin: 0;

}

.special-heading + p {
    font-size: 20px;
    margin-top: -35px;
    color: RGB(121, 121, 121);
    text-align: center;
}

@media(max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading + p {
        margin-top: -20px;
    }
}

/* end components  */
/* start global ruls  */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans",
        sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* small  */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global ruls  */
/* start header  */
header {
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 60px;
}

header .container .link .icon {
    width: 25px;
    display: flex;
    flex-direction: column;
}

.icon span {
    height: 2px;
    background-color: black;
    margin-bottom: 5px;
}

.icon span:nth-child(2) {
    width: 15px;
    align-self: flex-end;
    transition-duration: var(--duration);
}

header .container .link .icon:hover span:nth-child(2) {
    width: 100%;
}

header .container .link {
    position: relative;
}

header .container .link:hover ul {
    display: block;
}

header .container .link ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 20px);
    display: none;
    z-index: 1;
}

header .container .link ul::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent aquamarine transparent;
    right: 2px;
    top: -20px;
}

header .container .link ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
}

header .container .link ul li:not(:last-child) {
    border-bottom: 1px solid black;
}

header .container .link ul li a:hover {
    padding-left: 30px;
    color: red;

}

header .container .link ul li a {
    transition-duration: var(--duration);
}

/* end header  */
/* start landing  */
.landing {
    background-image: url(../image/pexels-andrei-tanase-2221705.jpg);
    background-size: cover;
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .landing-text {
    text-align: center;
}

.landing .landing-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: var(--main-color);
}

.landing .landing-text p {
    font-size: 19px;
    font-weight: 400;
    width: 300px;
    max-width: 100%;
    background-color: rgba(127, 255, 212, 0.24);
}

/* end landing  */
/* start features  */
.features {
    padding: var(--main-padding);
    background-color: rgba(127, 255, 212, 0.24);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.features .container .feat {
    text-align: center;
    padding: 0 35px;
}

.features .container .feat i {
    font-size: 50px;
    font-weight: 900;
    color: var(--main-color);
}

.features .container .feat h3 {
    font-size: 19px;
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feat p {
    font-size: 17px;
    font-weight: 400;
    color: var(--font-color);
    line-height: 1.6;
}

/* end features  */
/* start services  */
.services {
    padding: var(--main-padding);
}

.services .container .service-contect {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.services .container .service-contect .srv {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 0;

}

@media(max-width:767px) {
    .services .container .service-contect .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .container .service-contect .srv i {
    flex-basis: 60px;
    font-size: 40px;
    color: var(--main-color);
}

.services .container .service-contect .srv .text {
    flex: 1;

}

.services .container .service-contect .srv .text h3 {
    margin: 0;
    font-size: 19px;
    font-weight: 700;
}

.services .container .service-contect .srv .text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin: 20px 0;
}

.services .container .service-contect .image {
    text-align: center;
    position: relative;
    text-align: center;
}

@media (max-width:1200px) {

    .services .container .service-contect .image {
        display: none;
    }
}

.services .container .service-contect .image::before {
    content: "";
    position: absolute;
    height: calc(100% + 100px);
    width: 100px;
    background-color: rgb(86, 118, 133);
    right: 20px;
    top: -50px;
    z-index: -1;
}

.services .container .service-contect .image img {
    width: 250px;
    max-width: 100%;
}

/* end services  */
/* start portfolio  */
.portfolio {
    padding: var(--main-padding);
    background-color: rgba(127, 255, 212, 0.24);

}

.portfolio .container .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}

.portfolio .container .portfolio-content .card {
    background-color: white;
    
}

.portfolio .container .portfolio-content .card img {
    width: 100%;
    max-width: 100%;
}

.portfolio .container .portfolio-content .card h3 {
    padding: 0 20px;
    font-size: 19px;
    font-weight: 700;
}

.portfolio .container .portfolio-content .card p {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: var(--font-color);
}

/* end portfolio */
/* start about  */
.about {
    padding: var(--main-padding);

}

.about .container .about-contect {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    margin-top: 100px;
}

@media(max-width:991px) {
    .about .container .about-contect {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.about .container .about-contect .image {
    position: relative;
    width: 230px
}

.about .container .about-contect .image img {
    width: 100%;
    max-width: 100%;

}

.about .container .about-contect .image::before {
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    width: 100px;
    background-color: gray;
    top: -40px;
    z-index: -1;
    left: -20px;
}

.about .container .about-contect .image::after {
    content: "";
    width: 80px;
    height: 80%;
    border-bottom: 80px solid;
    border-left: 80px solid;
    border-color: red;
    position: absolute;
    z-index: -1;
    right: -110px;
    top: -40px;
}

@media (max-width:991px) {

    .about .container .about-contect .image::after,
    .about .container .about-contect .image::before {

        display: none;
    }
}

.about .container .about-contect p:first-of-type {

    margin-left: -40px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    padding-left: 40px ;
 }

hr {

    width: 50%;
    border-color: var(--main-color);
}

.about .container .about-contect p:last-of-type {

    margin-left: -40px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 400;
    color: var(--font-color);
    padding-left:  40px  ;
}

/* end about  */
/* start contact */
.contact {
    padding: var(--main-padding);
    background-color: rgba(127, 255, 212, 0.24);
}

.contact .container .text-contact {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.contact .container .text-contact > p {
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    color: RGB(44, 71, 85);
}

.contact .container .text-contact > a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
    color:var(--main-color ) ;
    display: inline-block;
    margin-top: -20px ;
    margin-bottom: 20px;
    
}
.contact .container .text-contact .social i {
    color: var(--main-color);
    margin-left: 5px;
}
/* end contact  */
/* start footer */
footer {
    height: 75px;
    background-color: rgb(44, 71, 85);
    color: white;
  display: flex;
  justify-content: center;
  align-items: center;
font-size: 18px;
}
footer span {
    padding:  0 5px;
    color: var(--main-color);
    font-weight: bold;
}
/* end footer  */